.message {
  background: none;
  border: none;
  border-radius: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  min-height: 40px;
}

.icon {
  height: 40px;
  width: 40px;
  border-radius: 3px;
  float: left;
  margin-left: 10px;
}

.content {
  margin-left: 60px;
  margin-right: 10px;
}

.content * {
  padding-bottom: 0.1em;
  margin: 0px;
}

.content img {
  max-height: 10em;
  max-width: 100%;
}

.content video {
  max-width: 100%;
}

.user-name {
  font-weight: bold;
}

.time {
  color: rgb(160, 160, 160);
  font-size: 0.8em;
  margin-left: auto;
  float: right;
}

.clear {
  clear: both;
}
