.root {
  flex-grow: 1;
}

.root div {
  padding: 0px;
}

.grow {
  flex-grow: 1;
}

.menuButton {
  margin-left: -12;
  margin-right: 20;
}

.chat-body {
  margin-top: 3.5em;
  margin-bottom: 3em;
}

.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid gray;
  background-color: white;
 }

.send-button {
  width: 10%;
  text-align: center;
}
