.root {
  flex-grow: 1;
}

.root div {
  padding: 0px;
}

.grow {
  flex-grow: 1;
}

.menuButton {
  margin-left: -12;
  margin-right: 20;
}

.chat-body {
  margin-top: 3.5em;
  margin-bottom: 3em;
}

.messages-header {
  height: 3.5em;
  display: flex;
}

.messages-header * {
  margin: auto;
}

.footer {
  position: fixed;
  overflow: hidden;

  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid gray;
  background-color: white;
 }

.text-field {
  float: left;
  width: 100%;
  margin: 0px -70px 0px 0px;
  padding: 0px 70px 0px 0px;
  box-sizing: border-box;
  background-color: #dddddd;
}

.send-button {
  display: flex;
  width: 70px;
  align-items: center;
}

.send-button button {
  margin: auto;
}

.button {
  margin: 0 auto;
  display: block;
}