.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid gray;
  background-color: white;
 }

.chat-body {
  margin-bottom: 3em;
}

.send-button {
  width: 10%;
  text-align: center;
}
